<ul class="nav navbar-nav navbar-right navbar-iconic">
    <li class="applauncher-pf  dropdown dropdown-kebab-pf  applauncher-pf-block-list">
        <a class="dropdown-toggle nav-item-iconic" data-toggle="dropdown" href="#">
            <i class="fa fa-th applauncher-pf-icon" aria-hidden="true"></i>
            <span class="applauncher-pf-title">
            Application Launcher
            <span class="caret" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li class="applauncher-pf-item" role="menuitem">
                <a class="applauncher-pf-link" href="#">
                    <i class="applauncher-pf-link-icon pficon pficon-storage-domain" aria-hidden="true"></i>
                    <span class="applauncher-pf-link-title">Recteque</span>
                </a>
            </li>
            <li class="applauncher-pf-item" role="menuitem">
                <a class="applauncher-pf-link" href="#">
                    <i class="applauncher-pf-link-icon pficon pficon-virtual-machine" aria-hidden="true"></i>
                    <span class="applauncher-pf-link-title">Ipsum</span>
                </a>
            </li>

            <li class="applauncher-pf-item" role="menuitem">
                <a class="applauncher-pf-link" href="#">
                    <i class="applauncher-pf-link-icon pficon pficon-domain" aria-hidden="true"></i>
                    <span class="applauncher-pf-link-title">Lorem</span>
                </a>
            </li>
            <li class="applauncher-pf-item" role="menuitem">
                <a class="applauncher-pf-link" href="{{ path('homepage') }}">
                    <i class="applauncher-pf-link-icon pficon pficon-home" aria-hidden="true"></i>
                    <span class="applauncher-pf-link-title">Home</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="drawer-pf-trigger">
        <a href="#0" class="nav-item-iconic">
            <span class="fa fa-bell" title="Notifications"></span>
            <span class="badge badge-pf-bordered"> </span><!-- in order to show the empty badge this requires a space, otherwise add a value -->
        </a>
    </li>
    <li class="dropdown">
        <a href="#0" class="dropdown-toggle nav-item-iconic" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span title="Help" class="fa pficon-help"></span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#0">Help</a></li>
            <li><a href="#0">About</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#0" class="dropdown-toggle nav-item-iconic" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span title="Username" class="fa pficon-user"></span>
            Brian Johnson <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="#0">Preferences</a></li>
            <li><a href="#0">Logout</a></li>
        </ul>
    </li>
</ul>
<div class="drawer-pf hide drawer-pf-notifications-non-clickable">
    <div class="drawer-pf-title">
        <a class="drawer-pf-toggle-expand fa fa-angle-double-left hidden-xs"></a>
        <a class="drawer-pf-close pficon pficon-close"></a>
        <h3 class="text-center">Notifications Drawer</h3>
    </div>
    <div class="panel-group" id="notification-drawer-accordion" style="overflow-y: auto;">
        <div class="panel panel-default">
            <div class="panel-heading" data-component="collapse-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#notification-drawer-accordion" href="#fixedCollapseOne">
                        Notification Tab 1
                    </a>
                </h4>
                <span class="panel-counter">2 New Events</span>
            </div>
            <div id="fixedCollapseOne" class="panel-collapse collapse in">
                <div class="panel-body" style="max-height: 25px; overflow-y: auto;">
                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight11">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-info pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">A New Event! Huzzah! Bold!</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight21" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight21">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-ok pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight31" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight31">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-warning-triangle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification that is really long to see how it reacts on smaller screens sizes.</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight41" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight41">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-error-circle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="blank-slate-pf hidden" style="">
                    <div class="blank-slate-pf-icon">
                        <span class="pficon-info"></span>
                    </div>
                    <h1>There are no notifications to display.</h1>
                </div>
                <div class="drawer-pf-action">
                    <div class="drawer-pf-action-link" data-toggle="mark-all-read">
                        <button class="btn btn-link">Mark All Read</button>
                    </div>
                    <div class="drawer-pf-action-link" data-toggle="clear-all">
                        <button class="btn btn-link">
                            <span class="pficon pficon-close"></span>
                            Clear All
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-component="collapse-heading">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#notification-drawer-accordion" href="#fixedCollapseTwo">
                        Notification Tab 2
                    </a>
                </h4>
                <span class="panel-counter">6 New Events</span>
            </div>
            <div id="fixedCollapseTwo" class="panel-collapse collapse">
                <div class="panel-body" style="max-height: 25px; overflow-y: auto;">
                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight12">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-info pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">A New Event! Huzzah! Bold!</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight22" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight22">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-ok pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight32" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight32">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-warning-triangle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification that is really long to see how it reacts on smaller screens sizes.</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight42" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight42">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-error-circle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>

                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight13" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight13">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-info pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">A New Event! Huzzah! Bold!</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight23" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight23">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-ok pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight33" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight33">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-warning-triangle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification that is really long to see how it reacts on smaller screens sizes.</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight43" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight43">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-error-circle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>

                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight14" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight14">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-info pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">A New Event! Huzzah! Bold!</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight24" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight24">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-ok pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight34" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight34">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-warning-triangle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification that is really long to see how it reacts on smaller screens sizes.</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight44" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight44">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-error-circle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>

                    <div class="drawer-pf-loading text-center">
                        <span class="spinner spinner-xs spinner-inline"></span> Loading More
                    </div>
                </div>
                <div class="blank-slate-pf hidden" style="">
                    <div class="blank-slate-pf-icon">
                        <span class="pficon-info"></span>
                    </div>
                    <h1>There are no notifications to display.</h1>
                </div>
                <div class="drawer-pf-action">
                    <div class="drawer-pf-action-link" data-toggle="mark-all-read">
                        <button class="btn btn-link">Mark All Read</button>
                    </div>
                    <div class="drawer-pf-action-link" data-toggle="clear-all">
                        <button class="btn btn-link">
                            <span class="pficon pficon-close"></span>
                            Clear All
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-component="collapse-heading">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#notification-drawer-accordion" href="#fixedCollapseThree">
                        Notification Tab 3
                    </a>
                </h4>
                <span class="panel-counter">6 New Events</span>
            </div>
            <div id="fixedCollapseThree" class="panel-collapse collapse">
                <div class="panel-body" style="max-height: 25px; overflow-y: auto;">
                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight15" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight15">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-info pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">A New Event! Huzzah! Bold!</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight25" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight25">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-ok pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight35" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight35">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-warning-triangle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification that is really long to see how it reacts on smaller screens sizes.</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight45" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight45">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-error-circle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>

                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight16" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight16">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-info pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">A New Event! Huzzah! Bold!</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight26" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight26">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-ok pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight36" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight36">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-warning-triangle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification that is really long to see how it reacts on smaller screens sizes.</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight46" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight46">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-error-circle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>

                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight17" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight17">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-info pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">A New Event! Huzzah! Bold!</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification unread">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight27" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight27">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-ok pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight37" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight37">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-warning-triangle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification that is really long to see how it reacts on smaller screens sizes.</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-pf-notification">

                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight47" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight47">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another Action</a></li>
                                <li><a href="#">Something Else Here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated Link</a></li>
                            </ul>
                        </div>

                        <span class="pficon pficon-error-circle-o pull-left"></span>
                        <div class="drawer-pf-notification-content">
                            <span class="drawer-pf-notification-message">Another Event Notification</span>
                            <div class="drawer-pf-notification-info">
                                <span class="date">3/31/16</span>
                                <span class="time">12:12:44 PM</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="blank-slate-pf hidden" style="">
                    <div class="blank-slate-pf-icon">
                        <span class="pficon-info"></span>
                    </div>
                    <h1>There are no notifications to display.</h1>
                </div>
                <div class="drawer-pf-action">
                    <div class="drawer-pf-action-link" data-toggle="mark-all-read">
                        <button class="btn btn-link">Mark All Read</button>
                    </div>
                    <div class="drawer-pf-action-link" data-toggle="clear-all">
                        <button class="btn btn-link">
                            <span class="pficon pficon-close"></span>
                            Clear All
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
